EJBs/tstRMI/xml-resources/web-service-references/WSExponeEJB/wsdl/localhost_8080/WSClienteExponeEJB/WSExponeEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsexponeejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsexponeejb/" name="WSExponeEJB">
<types>
<xsd:schema>
<xsd:import namespace="http://wsexponeejb/" schemaLocation="http://localhost:8080/WSClienteExponeEJB/WSExponeEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenResultado">
<part name="parameters" element="tns:obtenResultado"/>
</message>
<message name="obtenResultadoResponse">
<part name="parameters" element="tns:obtenResultadoResponse"/>
</message>
<message name="obtenSuma">
<part name="parameters" element="tns:obtenSuma"/>
</message>
<message name="obtenSumaResponse">
<part name="parameters" element="tns:obtenSumaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="WSExponeEJB">
<operation name="obtenResultado">
<input wsam:Action="http://wsexponeejb/WSExponeEJB/obtenResultadoRequest" message="tns:obtenResultado"/>
<output wsam:Action="http://wsexponeejb/WSExponeEJB/obtenResultadoResponse" message="tns:obtenResultadoResponse"/>
</operation>
<operation name="obtenSuma">
<input wsam:Action="http://wsexponeejb/WSExponeEJB/obtenSumaRequest" message="tns:obtenSuma"/>
<output wsam:Action="http://wsexponeejb/WSExponeEJB/obtenSumaResponse" message="tns:obtenSumaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://wsexponeejb/WSExponeEJB/helloRequest" message="tns:hello"/>
<output wsam:Action="http://wsexponeejb/WSExponeEJB/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="WSExponeEJBPortBinding" type="tns:WSExponeEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenResultado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenSuma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSExponeEJB">
<port name="WSExponeEJBPort" binding="tns:WSExponeEJBPortBinding">
<soap:address location="http://localhost:8080/WSClienteExponeEJB/WSExponeEJB"/>
</port>
</service>
</definitions>